@font-face {
    font-family: "coolvetica";
    src: url(../assets/font/CoolveticaRg-Regular.woff2) format('woff2'),
        url(../assets/font/CoolveticaRg-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
background-color: black !important;
color: white !important;
display: flex;
justify-content: center;
align-items: center;
height:  100vh;
margin:  0;
}

.container {
    text-align: center;
}

.name, .role {
    margin:  0;
}

.name {
    font-size: 230px;
    font-family: coolvetica !important;
}

.role {
    font-size: 35px;
    font-family: coolvetica !important;
}

#cursor {
    animation: blink  1s infinite;
    font-size: 230px;
}


@keyframes blink {
    0% { opacity:  1; }
    50% { opacity:  0; }
    100% { opacity:  1; }
}


body.light-mode {
    background-color: #fff !important;
    color: #222 !important;
}

body.dark-theme .moon-icon {
    color: #fff; 
}

body.light-theme .moon-icon {
    color: #000;
}

.theme-toggle {
    position: fixed;
    top:  10px;
    left:  10px;
    background: none;
    border: none;
    cursor: pointer;
    padding:  10px;
    border-radius:  50%; 
    color: white; 
}

.theme-toggle:hover {
    background-color: rgba(255,  255,  255,  0.1); 
}

.theme-toggle i {
    font-size:  24px;
}