@font-face {
    font-family: "coolvetica";
    src: url(../assets/font/CoolveticaRg-Regular.woff2) format('woff2'),
        url(../assets/font/CoolveticaRg-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
background-color: black !important;
color: white !important;
display: flex;
justify-content: center;
align-items: center;
height:  100vh;
margin:  0;
}

a {
    text-decoration: none !important;
    color:inherit !important;
}
.container {
    text-align: center;
}

.name, .role {
    margin:  0;
}

.name {
    font-size: 230px;
    font-family: coolvetica !important;
}

.role {
    transform: translateY(-35px);
    font-size: 35px;
    font-family: coolvetica !important;
}

#cursor {
    animation: blink  1s infinite;
    font-size: 230px;
}


@keyframes blink {
    0% { opacity:  1; }
    50% { opacity:  0; }
    100% { opacity:  1; }
}


body.light-mode {
    background-color: #fbf0d9 !important;
    color: #282b3e !important;
}

body.light-mode .moon-icon{
    color: #282b3e !important;
}



.theme-toggle {
    position: fixed;
    top:  10px;
    left:  10px;
    background: none;
    border: none;
    cursor: pointer;
    padding:  10px;
    border-radius:  50%; 
    color: white; 
}

.theme-toggle:hover {
    background-color: rgba(255,  255,  255,  0.1); 
}

.theme-toggle.light-mode:hover {
    background-color: rgba(24, 25, 57, 0.212); 
}

.theme-toggle i {
    font-size:  24px;
}

.lets-go {
    position: absolute;
    bottom: 250px;
}

.proceed {
    font-size: 25px;
    font-family: coolvetica !important;
    background-color: rgba(255,  255,  255,  0.1);
    padding: 8px;
    padding-inline: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.proceed.light-mode {
    color: #282b3e !important;
    background-color: #e1dac8 !important;
    box-shadow: 0.2rem 0.3rem rgb(169, 158, 129);
    
}