body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
    margin:  0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.name, .role {
    margin:  0;
}

.name {
    font-size: 230px;
}

.role {
    font-size: 35px;
}

#cursor {
    animation: blink  1s infinite;
    font-size: 230px;
}


@keyframes blink {
    0% { opacity:  1; }
    50% { opacity:  0; }
    100% { opacity:  1; }
}
